[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
django-cors-headers = "*"
graphene-django = "*"
django-graphql-jwt = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djangorestframework-gis = "*"
django-allauth = "*"
dj-rest-auth = "*"
psycopg2-binary = "*"
geopy = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.9"
